{% extends 'index.html' %}


{% block content %}

<article>
    <div class="item">
        <h3><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h3>
        <p>&nbsp;&nbsp;{{blog.body}}</p>
    </div>
    <p>Written by <a href="/blog?user={{blog.owner.id}}">{{blog.owner.email}}</a></p>
</article>
<section>
    <h3>Comments</h3>
    {% if comments|length > 0 %}
        {% for comment in comments%}
            <div>
                <p>{{comment.content}}</p>
                <em>Left by:{{comment.owner.email}}</em>
            </div>
        {% endfor %}
    {% else %}
        <p>No Comments Yet</p>
    {% endif %}    
</section>
<div>
    <form action="/addComment" method="post">
        <fieldset>
            <legend>Leave a Comment</legend> 
            <br>    
            <div class="input1">
                <textarea name="body" id="body" cols="100" rows="10"></textarea>
                <input name="blogid" type="hidden" value={{blog.id}} />
            </div>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>


{% endblock %}