{% extends 'index.html' %}

{% block content %}


    <h1>Blogs</h1>


    {% if blogs|length == 0 %}
        <h2>No New Posts Yet</h2>
    {% else %}
    <div id="content">
        <div id="articles">
        {% for blog in blogs %}
                <article>
					<h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2>
					<p>&nbsp;&nbsp;{{blog.body}}</p>
                </article>
                <p>Written by <a href="/blog?user={{blog.owner.id}}">{{blog.owner.email}}</a></p>
        {% endfor %}
        </div>
    </div>            

    {% endif %}




{% endblock %}

