{% extends 'index.html' %}

{% block content %}
<h1>Login</h1>
<form action="/login" method="post">
    <fieldset>
        <legend>Login</legend>
        <label for="user">Username</label>
        <br />
        <div class="input1">
                <input type="text" name="name" value="{{name}}" required="required" id="user">
        </div> 
        <!-- <br>     -->
        <label for="pass">Password</label><br />
        <div class="input1">
                <input type="password" name="password" required="required" id="pass">
        </div>
        <input type="submit" value="login">
    </fieldset>
    <span>Don't Have an account?&nbsp;&nbsp;</span><a href="/register">Register Here</a>
</form>

{% endblock %}   