{% extends 'index.html' %}

{% block content %}
<h1>LaunchCode Demo Signup Form</h1>
<form action="/register" method="post">
    <fieldset>
        <legend>Signup</legend>
        <label for="email">Email</label><br />
            <div class="input1">
                <input type="text" name="email" id="email" value="{{email}}">
            </div>  
        <!-- <br>     -->
        <label for="pass">Password</label><br />
        <div class="input1">
                <input type="password" name="password" required="required" id="pass">
        </div>
        <!-- <br> -->
        <label for="passv">Verify Password</label><br />
        <div class="input1">
                <input type="password" name="passwordv" required="required" id="passv">
        </div>
        <input type="submit" value="register">
    </fieldset>
</form>

{% endblock %}   